body {
    font-family: sans-serif;
    margin: 0;
    background-color: grey;
}

@media only screen and (min-width: 500px){
    header{
        margin: 0;
        padding: 0;
        display: flex;
    }

    #desktop{
        margin: 0;
        padding: 0;
        width: 10vw;
        display: flex;
        visibility: visible;
        height: 10vw;
    }

    #mobile{
        display: none;
    }

    #mobile_footer{
        display: none;
    }

    #m{
        display: none;
    }

    #d{
        margin: 0;
        padding: 0;
        height: 10vw;
        width: 90vw;
        display: flex;
        background-color: #013542ff;
        color: #feffff;
        display: flex;
        justify-content: center;
        font-size: 5vw;
    }

    form{
        padding: 0px;
    }

    label{
        font-size: 1em;
        height: 1em;
    }

    .form{
        position: relative;
        width: 90%;
        padding: 0px;
    }

    .form input{
        font-size: 1em;
    }

    .form i{
        top: 2.7em;
        font-size: 1em;
    }

    .form textarea{
        margin-top: -5em;
    }



    #mob{
        display: none;
    }


}
@media only screen and (max-width: 500px){
    #desktop{
        display: none;
    }

    #dt{
        display: none;
    }

    #mobile{
        margin: 0;
        padding: 0;
        height: 10vh;
        display: block;
        justify-content: center;
        visibility: visible;
        height: auto;
        width: 100%;
    }

    #d{
        display: none;
    }

    #d-only{
        display: none;
    }

    #m{
        display: flex;
        background-color: #013542ff;
        height: 15vh;
        width: auto;
    }

    form{
        padding: 0px;
        max-width: none;
        width: 100%;
        padding-bottom: 1em;
        box-sizing: border-box;
    }

    label{
        font-size: 1.8em;
    }

    .form{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form input{
        font-size: 2em;
    }

    .form i{
        top: 1.9em;
        font-size: 2em;
    }

    #Subject{
        display: none;
    }

    .form textarea{
        margin-top: -4.5em;
    }

    #mob{
        display: block;
    }

    #mobile_footer{
        display: flex;
        justify-content: center;
        visibility: visible;
        height: auto;
        width: 100%;
    }

    p{
        margin: 0;
    }
}

#intro{
    margin: 0 0 1em 0;
    font-size: 1.4em;
}

.box{
    border: 1px solid black;
}

div{
    margin-bottom: 0.5em;
}


.form input{
    display: block;
    width: 100%;
    grid-row: 2;
}

.form textarea{
    display: block;
    width: 100%;
    grid-row: 2;
}

.form{
    padding-top: 15px;
    display: grid;  
    grid-gap: .1em;
    grid-template-columns: auto;
    grid-template-rows: 5fr 5fr;
}

.form i{
    position: absolute;
    right: 0;
}

form {
    width: 100%;
    max-width: 400px;
    display: grid;
    margin: auto;
    background-color: white;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

label {
    grid-row: 1;
}

:required ~ label::after{
    content: " *";
    font-size: 1em;
    color: orangered;
}

.error{
    color: #FF8484;
    font-size: 0.8em;
    height: 0.8em;
    grid-row: 3;
}

#checkbox {
    position: absolute;
    z-index: 2;
    opacity: 0;
}

i {
    z-index: 1;
    position: absolute;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border: solid 2px red;
}

input:valid:not(:placeholder-shown):not([type="submit"]),
textarea:valid:not(:placeholder-shown) {
    border: solid 2px blue;
}

input:active{
    border: solid 2px green;
}

#submit:hover{
    border: solid 2px orange;
}

footer{
    background-color: #013542ff;
    width: 100%;
    justify-content: center;
    color: #02a5c8;
}

#help {
    position: relative;
}

iframe {
    display: none;
    width: 80vw;
    max-width: 500px;
}

i:hover+iframe {
    display: block;
    position: absolute;
    bottom: 10px;
}